<html>
	<head>
		<title>Hola blog</title>
	</head>
	<body>
	<div>
		<h1><a href="/">djangoboy</a></h1>
	
		<div>
	
			<p>published: 12-10.2015,15:30</p>

		<h2><a href= "">Praticando post</a></h2>
<p>Aenean eu leo quam.
Pellentesque ornare sem lacinia quam venenatis
vestibulum. Donec id elit non mi porta gravida
at eget metus. Fusce dapibus, tellus ac cursus
commodo, tortor mauris condimentum nibh, ut
fermentum massa justo sit amet risus.</p></div>

	<div>
		<h2><a href="">Mi segunda Experiencia</a></h2>
	<p>Pellentesque ornare sem lacinia quam venenatis
vestibulum. Donec id elit non mi porta gravida
at eget metus. Fusce dapibus, tellus ac cursus
commodo, tortor mauris condimentum nibh, utf.</p>
</div>

	</body>
</html>
